:root {
    --header-text: "Architects Daughter", cursive;
    --subheader-text: "Cookie", cursive;
    --secondary-text: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --button-text: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --primary-color: rgb(231, 51, 141);
    --button-color: lightpink;
    --secondary-color: rgb(247, 183, 222);
    --hover-color: violet;
    --image-width: 85%;
}

html {
    scroll-behavior: smooth;
    
}


/* LOGIN BUTTON & PAGE */
#log {
  font-family: var(--secondary-text);
  font-size: smaller;
  color: lightblue;
  border: 2px solid var(--primary-color);
  padding: 7px;
}

#log:hover{
  color: var(--hover-color);
}

#username-login,
  #password-login,
  #register {
    margin: 15px;
  }

  #complete-form {
    margin-top: 20px;
  }



/* PAGE HEADER & NAV */
nav {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 15px;
}

h1.header {
    font-family: var(--header-text);
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    margin: 0 auto;
    color: var(--secondary-color);
  }

  img.home-icon {
    align-items: start;
    width: 70px;
    margin-left: 10px;
  }

  img.home-icon:hover {
    background-color: var(--hover-color);
    transition: 0.5s ease;
  }
  
  img.cart-icon {
    align-items: end;
    width: 50px;
    background-color: var(--primary-color);
    padding: 7px;
    margin-right: 20px;
  }

  img.profile-icon {
    align-items: end;
    width: 50px;
    background-color: black;
    border: 3px solid var(--primary-color);
    padding: 7px;
    margin-right: 20px;
  }

  img.cart-icon:hover {
    background-color: var(--hover-color);
    transition: 0.25s ease;
  }

  img.profile-icon:hover {
    background-color: var(--hover-color);
    transition: 0.25s ease;
  }

  .menu-icon,
  .nav-content {
    display: none;
  }



  /* PAGE SUBTEXT & BUTTON LINKS */
  h2 {
    text-align: center;
    font-family: var(--header-text);
    font-weight: 500;
    margin: 30px;
  }

  .nav-buttons {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin: -30px 0 25px 0;
  }

  .navigation-buttons {
    padding: 15px;
    margin-top: 25px;
    font-family: var(--button-text);
    font-size: large;
    border-radius: 15px;
    background-color: var(--button-color);
    cursor: pointer;
  }

  .navigation-buttons:hover {
    background-color: black;
    color: var(--hover-color);
    transition: 0.25s ease;
    border: 2px solid var(--primary-color);
  }




  /* HOMEPAGE */
  section#info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "amsterdam travel-info"
        "travel-tip nyc";
    padding: 50px;
    gap: 20px;
  }

  img.amsterdam {
    grid-area: amsterdam;
    width: var(--image-width);
  }

  h3.travel-info-header, 
  p.travel-info-p {
    grid-area: travel-info;
  }

  h3.tip-info-header,
  p.tip-info-p {
    grid-area: travel-tip;
  }

  img.nyc {
    grid-area: nyc;
    width: var(--image-width);
    margin-left: 60px;
  }

  h3 {
    font-family: var(--subheader-text);
    font-weight: 400;
    font-style: normal;
    font-size: 50px; 
  }

  span.highlight {
    color:var(--primary-color);
    text-decoration: underline;
  }

  p {
    font-family: var(--secondary-text);
    font-size: 18px;
  }
  
  footer {
    font-family: var(--secondary-text);
    font-size: 10px;
    text-align: center;
    padding: 25px 0px 0px 0px;
  }

  #about {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
        "title title"
        "picture text";
  }

  h2.about-me {
    grid-area: title;
    background-color: black;
    color: var(--secondary-color);
    padding: 10px 150px 10px 150px;
    justify-self: center;
    
  }

  img.me-at-stockholm {
    grid-area: picture;
    width: var(--image-width);
    padding: 30px;
    display: flex;
  }

  p.about-me-info {
    grid-area: text;
  }

  span.highlight2 {
    color: var(--primary-color);
    font-weight: bolder;
  }

  div > #top-button {
    display: block;
    font-family: var(--header-text);
    font-weight: bolder;
    text-align: center;
    margin: 10px;
    color: var(--button-color);
  }

  #top-button:hover {
    color: var(--hover-color);
    transition: 0.5s ease;
  }



  /* SUBSCRIBE PAGE & OTHER STYLINGS */
  form,
  .user-profile {
    font-family: var(--secondary-text);
    color: var(--primary-color);
    font-weight: bolder;
    padding: 50px;
    border: 5px solid black;
    margin-top: 10px;
  }

  input#email,
  input#name {
    width: 500px;
  }

  input:focus,
  textarea:focus,
  select:focus {
    border: 3px solid blue;
  }

  input#email,
  input#name,
  select,
  textarea {
    background-color: var(--secondary-color);
    font-family: var(--secondary-text);
    margin: 5px;
  }

  #comment-section {
    margin-top: 15px;
  }



  /* PRODUCT PAGE */
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    column-gap: 10px; 
    margin-top: 40px;
  }
  
  .product-img { 
    border: 2px solid black;
    width: 650px;
    margin: 0 0 30px 150px;
  }
  
  button.add-cart {
    cursor: pointer;
    font-family: var(--button-text);
    padding: 5px;
  }
  
  button.add-cart:hover {
    background-color: var(--hover-color);
  }
  
  h3.product-title {
    font-size: 40px;
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  span.p-price {
    color: var(--primary-color);
    font-family: var(--primary-text);
    font-size: 20px;
  }


  /* USER PROFILE */
  .user-info {
    margin: 0 0 0 150px;
    color: black;
  }
  .user-info span {
    color: var(--secondary-color);
    text-decoration: underline 2px;
  }




  /* DARK & LIGHT MODE */
  #toggle-switch {
    display: flex;
    justify-content: center;
  }

  body.light-mode {
    background-color: white;

    li.nav-link {
      list-style: circle;
      color: white;
    }

    #toggle-button:hover {
      background-color: darkgray;
    }
  }

  body.dark-mode {
    background-color: rgb(46, 46, 46);
    color: white;

    .user-info {
      color: white;
    }

    #toggle-button:hover {
      background-color: lightgray;
    }

    img,
    img#product-img {
        border: 1px solid white;
    }
    form,
    .user-profile {
        border: 5px solid white;
    }
    img.home-icon,
    img.cart-icon,
    img.icon-img {
        border: none;
    }

    img.profile-icon {
      border: 3px solid var(--primary-color);
    }

    img.me-at-stockholm {
        padding: 0px;
        margin: 25px;
    }
    #sign {
      color: var(--secondary-color);
    }

    #sign:hover {
      color: var(--hover-color);
    }
  }
  
  


/* RESPONSIVE FOR SMALLER SCREENS */

  @media screen and (max-width: 600px) {
    
    nav {
        display: block;
        padding-right: 50px;
        text-align: center;
    }

    #toggle-switch {
        margin-top: 20px;
    }

    #log {
      display: none;
    }

    h1.header {
        font-size: 1.5rem;
        display: inline;
    }

    img.home-icon,
    img.profile-icon {
        display: none;
    }

    button.menu-icon {
      display: inline-flex;
      background-color: var(--primary-color);
      margin-right: 10px;
      cursor: pointer;
    }

    .open-menu {
      display: block;
    }

    .closed-menu {
      display: none;
    }

    ul.nav-items {
      list-style:circle;
      margin: 5px;
      padding: 10px;
      text-align: left;
      margin-bottom: 15px;
    }

    ul.nav-items li {
      margin: 5px;
    }

    .menu-link {
      font-family: var(--secondary-text);
      color: var(--button-color);
      font-weight: bold;
      text-decoration: none;
    }

    .menu-link:hover {
      color: var(--hover-color);
    }

    img.amsterdam {
        width: 100%;
        margin-bottom: 15px;;
    }

    section#about,
    h2.subheader,
    a.about,
    div.travel-info,
    img.nyc,
    img.me-at-stockholm,
    .cart {
        display: none;
    }

    .nav-buttons {
        display: flex;
        margin-top: 10px;
    }

    section#info {
        display: block;
        text-align: center;
        padding: 10px;
        margin-top: 30px;
    }

    div.tip-info {
        border: 5px solid pink;
    }

    h3 {
        font-size: 40px;
    }

    input#name,
    input#email,
    textarea {
        width: 250px;
    }

    form.subscribe-form {
        font-size: 15px;
        border: 1px solid black;
        margin: 15px;
    }

    select > option {
        font-size: 12px;
    }

    h3.product-title {
        font-size: 25px;
    }

    span.descriptors {
        display: none;
    }

    .product-content {
      margin: 0 0 0 20px;
    }
    
    span.p-price {
        color: black;
        background-color: var(--secondary-color);
        padding: 2px;
        font-size: 15px;
    }

    .product-img {
      width: 100%;
      margin: 5px;
    }

    #register {
      display: inline;
      margin: 0 150px 0 0;
    }

    #username,
    #registerName,
    #password,
    #confirmPassword,
    #address,
    #city,
    #state,
    #zip {
      margin: 10px 0 10px 10px;
    }

    .user-info {
      margin: 0 30px 0 0;
    }

    h1.cart-title {
      font-size: 30px;
      margin: 30px;
    }
  }

  @media screen and (max-width: 425px) {

  }